<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ip input</title>
  <link href="./src/css/ip_input.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="app" ng-controller="ctl">
  {{ipValue}}
  <form name="form">
    <ng-ipv4 name="ip" ng-model="ipValue" ip-value="ipValue" input-css="'bootstrap'" is-focus="isfocus" max-than="ipValueM" re-set-value="setValue()" event="initIpStr"></ng-ipv4>
  </form>

  <!--<ng-ipv4 ng-model="ipValue" ip-value="ipValueM" input-css="'bootstrap'" is-disabled="ipDisabled"></ng-ipv4>-->
<button ng-click="setValue()">setValue</button>
</body>
<script src="./bower_components/angular/angular.js"></script>
<script src="./src/js/ip_input.js"></script>
<script src="app.js"></script>
</html>